h1 {
  // text-align: center;
  // color: #f19101;
  // font-weight: bold;
  // font-family: 'cherry bomb', sans-serif;

  color: #f18f01;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.6499999761581421));
  text-align: center;
  vertical-align: text-top;
  font-size: 48px;
  font-family: "cherry bomb", sans-serif;
  line-height: auto;
  border-style: hidden;
  outline: none;
}
