nav {
  display: flex;
  background-color: #494a4d;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  ul {
    display: flex;
    justify-content: space-around;
    width: 30%;
    list-style-type: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
}
