nav {
  display: flex;
  background-color: #494a4d;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-family: "cherry bomb", sans-serif;
<<<<<<< HEAD
=======
  font-size: xx-large;

>>>>>>> 6306ae9 (few changes to the navbar+navigate to the game page by clicking on start btn)
  ul {
    display: flex;
    justify-content: space-around;
    width: 30%;
    list-style-type: none;
    padding: 5px;
  }
  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: #d8a660;
  }
  .logo {
    height: 80px;
    margin-left: 10px;
  }
}

.active {
  color: #99c24d;
}

.active:hover{
  text-decoration: overline;
}
.pending {
  color: #494a4d;
}