nav {
  display: flex;
  background-color: #494a4d;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-family: "cherry bomb", sans-serif;
  ul {
    display: flex;
    justify-content: space-around;
    width: 30%;
    list-style-type: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
  .logo {
    height: 80px;
    margin-left: 10px;
  }
}
