@import "../../components/Utils/Utils.scss";

.rules-title {
  @include title;
  color: $orange;
  @include text-shadow;
  text-align: center;
  margin-bottom: 60px;
  margin-top: 60px;
}
.rules_list {
  @include text-shadow;
  @include text-size;
  color: $white;
  margin: auto;
  text-justify: auto;
  width: 50%;
}
.rules-container {
  display: flex;
  flex-flow: column wrap;
}
