.header_text {
  // text-align: center;
  // color: #f19101;
  // font-weight: bold;
  // font-family: 'cherry bomb', sans-serif;

  color: #f18f01;
  text-align: center;
  vertical-align: text-top;
  font-size: 48px;
  font-family: "cherry bomb", sans-serif;
  line-height: auto;
  border-style: hidden;
  outline: none;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}
