@import "../Utils/Utils.scss";

.list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px $black(0, 0, 0, 0.3);
  background-color: $white;
}

.list::-webkit-scrollbar {
  width: 6px;
  background-color: $black;
}

.list::-webkit-scrollbar-thumb {
  background-color: $orange;
}

.container {
  margin-top: -100px;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: $black;

  .player {
    margin-bottom: 30px;
    background-color: $black;
    display: grid;
    gap: 200px;
    grid-template-columns: 0.4fr 3fr 1fr;
    min-height: 42px;
    text-align: center;
    @include text-size;
    @include text-shadow;
  }

  .table {
    margin-bottom: 30px;
    display: grid;
    gap: 200px;
    font-size: 14px;
    grid-template-columns: 0.4fr 3fr 1fr;
    text-align: center;
    color: $green;
    @include text-shadow;
    @include text-nav;
  }

  .playerslist {
    margin-top: 6rem;
    overflow: hidden;
    color: $white;

    .player:nth-child(1) {
      background-color: #494a4d;
      align-items: center;
      color: yellow;
    }

    .player:nth-child(2) {
      background-color: $black;
      align-items: center;
      color: gray;
    }

    .player:nth-child(3) {
      background-color: $black;
      align-items: center;
      color: brown;
    }
  }
}
