@import "../Utils/Utils.scss";

.timer-wrapper {
  @include text-size;
  position: fixed;
  bottom: 5%;
  left: 45%;
}

// .timer {
//   font-family: "cherry bomb", sans-serif;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .text {
//   color: #aaa;
// }

// .value {
//   font-size: 20px;
//   font-weight: bold;
//   font-weight: 200;
//   color: white;
//   font-family: "cherry bomb", sans-serif;
// }
