.stopwatch-container {
  /* background-color: blue; */
  width: 10%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-top: 10px;
  align-items: flex-end;
  position: relative; 
  z-index:1
}

.clock {
  width: 10%;
  font-size: 30px;
  font-weight: 500;
  color: #f19101;
  margin-top: 70px;
  font-family: "cherry bomb", sans-serif;
}

.myButton {
  background: #f18f01;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 3px 4px rgba(0, 0, 0, 0.65);
  border-radius: 5px;
  -webkit-text-stroke: 0.5px black;
  background-color: hsl(36, 99%, 47%);
  border-radius: 4px;

  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "cherry bomb", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 9px 18px;
  text-decoration: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.6499999761581421));
  margin-left: 40px;
  margin-bottom: auto;
}
.myButton:hover {
  background: linear-gradient(to bottom, hsl(36, 93%, 54%) 5%, #a97526 100%);
  background-color: #ffb342;
}
.myButton:active {
  position: relative;
  top: 1px;
}
