@import "../Utils/Utils.scss";


.stopwatch-container {
  display: flex;
  margin-top: 10px;
  align-items: flex-end;
  position: absolute;
  left: 5%;
  top: 35%;
  z-index: 1;

  }
  
.clock {
  width: 10%;
  font-size: 30px;
  font-weight: 500;
  color: $orange; 
  margin-top: 70px;
 @include text-shadow; 
}

